:root{
    --text-color: #001273;
    --header-text: #F7DE02;
    --text-boxes: #FAFAFA;
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-image: url(/img/backround.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
} 

main #header{
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
main #header h1 {
    color: var(--text-boxes);
}
main #header h1 span {
    color: var(--header-text);
}

main #login-form {
    width: 80%;
    height: 550px;
    display: flex;
    justify-content: space-around;
    place-items: center;
}
main #login-form #register-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
main #login-form #register-avatar .user{
    font-size: 1.5rem;
    color: var(--text-boxes);
}

main #login-form .login h2{
    color: var(--text-boxes);
    font-size: 2rem
}
main #login-form .login h2 a{
    color: var(--header-text);
    text-decoration: none;
}
main #login-form .login h2 a:hover{
    color: rgb(247, 247, 101);
}

main #register-form {
    background-color: var(--text-boxes);
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    box-shadow: inset 0 0 1em gold, 0 0 1em rgb(219, 45, 45);
}

main #register-form .email-input{
    margin-top: 3rem;
    display: flex;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--text-color);
    background-color: var(--text-boxes);
}
main #register-form .senha-input{
    display: flex;
    border-bottom: 1px solid var(--text-color);
}
main #register-form input{
    outline: none;
    border: none;
    padding-left: 0.5rem;
    background-color: var(--text-boxes);
}
main #register-form .email-input .email-lock {
    color: grey;
}
main #register-form input:focus{
    color: var(--text-color);
    border-bottom: 1.5px solid var(--text-color);
}
main #register-form .lock{
    color: grey;
}
main #register-form .buttons-actions{
    display: flex;
    height: 150%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}


main #register-form .buttons-actions .button-enviar button{
    color: var(--text-boxes);
    background-color: var(--text-color);
    border: none;
    width: 100%;
    font-size: 1rem;
    display: flex;
    cursor: pointer;
    width: 8rem;
    justify-content: space-around;
    border-radius: 2rem;
    height: 2rem;
    align-items: center;
}
main #register-form .buttons-actions .button-cancelar button{
    color: grey;
    background-color:rgb(221, 212, 212);
    border: none;
    width: 100%;
    font-size: 1rem;
    display: flex;
    cursor: pointer;
    width: 8rem;
    justify-content: space-around;
    border-radius: 2rem;
    height: 2rem;
    align-items: center;
}